* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-family: "Ubuntu", sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}
